{{log this.user_id}}

<div class="container-fluid bg-white py-3 d-block d-lg-none border-top">
  <div class="row">

    <LinkTo @route="app.scores" class="col text-center border-right text-black">
      {{material-icon "list"}}
      <small class="d-block">Scores</small>
    </LinkTo>

    <LinkTo @route="app.games" class="col text-center border-right text-black">
      {{material-icon "videogame_asset"}}
      <small class="d-block">Games</small>
    </LinkTo>

    <LinkTo @route="app.index" class="col text-center border-right text-black">
      {{material-icon "view_module"}}
      <small class="d-block">Enter PIN</small>
    </LinkTo>

    {{#if (not-eq this.user_username "")}}

      <LinkTo @route="app.login" class="col text-center border-right text-black">
        {{material-icon "person"}}
        <small class="d-block">{{this.user_username}}</small>
      </LinkTo>

      <LinkTo @route="app.login" class="col text-center text-black">
        {{material-icon "exit_to_app"}}
        <small class="d-block">Log Out</small>
      </LinkTo>

      {{else}}
      <LinkTo @route="app.login" class="col text-center border-right text-black">
        {{material-icon "person"}}
        <small class="d-block">Log In</small>
      </LinkTo>

      <div class="col text-center">
        {{material-icon "edit"}}
        <br>
        <small class="d-block">Sign Up</small>
      </div>

    {{/if}}

  </div>
</div>
