
{{#each this.game as |game|}}

		<tr>
      <td>{{game.code}}</td>
      <td>{{if true 1 2}}</td>
      <td>{{game.total_users}}</td>
      <td class="d-flex justify-content-center">
				<button class="btn btn-danger d-flex mx-1">Delete {{material-icon "delete"}}</button>
				<button class="btn btn-info d-flex mx-1">Join {{material-icon "add"}}</button>
				<LinkTo @route="app.room.game" @model={{game.id}} @user={{model.play}} class="btn btn-success d-flex mx-1">Play! {{material-icon "play_arrow"}}</LinkTo>
			</td>
    </tr>

{{else}}

<tr>
	<td colspan="4"><h2><b>No hay juegos disponibles</b></h2></td>
</tr>

	{{/each}}
