<!-- <p>{{this.model.game.code}}</p>

 -->
 {{log this.user_email}}
<HeaderProject/>
<div class="container-fluid">
  <div class="row position-relative">
    <div class="col-12 text-center bg-blue pb-5 mb-4" style="height: 100vh">
      <div class="container-fluid text-white pt-3 h-100">
        <div class="row h-75">

          <div class="col-12 mb-3 pt-5">
            <h2>Code: <b>"{{this.model.game.id}}"</b></h2>
            Number of players: {{this.model.game.total_users}}
          </div>

          <div class="col-12">
            <div class="container-fluid">
              <div class="row">
                {{#each this.model.plays as |play|}}
                  <div class="col-6">
                    <div class="container-fluid">
                      <div class="row">
                        {{log play.user.username}}
                        <div class="col-12 mb-3">
                          <img src="{{play.user.avatar}}">
                        </div>

                        <div class="col-12 mb-3">
                          {{play.user.username}}
                        </div>

                        <!-- <div class="col-12 mb-3">
                          {{play.user.email}}
                        </div> -->

                        {{#if (eq play.user.id this.user_id)}}
                          {{#if (not-eq play.choice null)}}
                            <div class="col-12 mb-4">
                              {{#if (eq this.model.game.status 3)}}
                                <h3><b>{{play.getChoice}}</b></h3>
                              {{else}}
                                <h3><b>READY!</b></h3>
                              {{/if}}
                            </div>
                            {{else}}
                            <div class="col-12 mb-4">
                              <!-- 1: ROCK, 2: PAPER, 3: SCISSORS, 4: LIZARD, 5: SPOCK -->
                              <select class="form-control" id="txtOption">
                                <option value="">Choose option</option>
                                <option value="1">Rock</option>
                                <option value="2">Paper</option>
                                <option value="3">Scissors</option>
                                <option value="4">Lizard</option>
                                <option value="5">Spock</option>
                              </select>
                            </div>
                            <div class="col-12">
                              <button class="btn-success btn shadow" onclick={{action chooseOption this.model.game.id play.id}}>Choose</button>
                            </div>
                          {{/if}}
                          {{else}}
                          <div class="col-12 mb-3 text-white">
                            {{#if (not-eq play.choice null)}}
                              {{log play.getChoice}}

                              {{#if (eq this.model.game.status 3)}}
                                <h3><b>{{play.getChoice}}</b></h3>
                              {{else}}
                                <h3><b>READY!</b></h3>
                              {{/if}}

                              {{else}}

                              <h3><b>NO READY!</b></h3>
                            {{/if}}

                          </div>
                        {{/if}}

                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>

          <div class="col-12">
            <h1><b>Vs</b></h1>
          </div>

        </div>
      </div>
    </div>

    <div class="position-fixed col-12 text-right p-0" style="bottom: 0px; right: 0px">
      <FooterProject/>
    </div>

  </div>
</div>
